@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&family=Source+Sans+Pro:ital,wght@1,200;1,400;1,600&display=swap');

/* VARIABLES*/

:root {
/* pallete */
--primary: #04026C;
--secondary: #06039B;
--tercery: #0A05D7;
--alternative:#05A0F6;
--alternative-white: #FDFDFF;
--alternative-black: #000000;
 
/* font-family */

--text-base: 'Oswald', sans-serif;
--text-alt: 'Source Sans Pro', sans-serif;


/* fonts-sizes */
$fonts-sizes: (
    --text-xxl: 48px,
    --text-xl: 30px,
    --text-l: 20px,
    --text-md: 16px,
    --text-sm: 14px
);

@each $key, $val in $fonts-sizes {
    .#{$key} {
        font-size: $val!important;
    }
}



/* spacing */

--spacing-lg: 48px;
--spacing-md: 36px;
--spacing-sm: 24px;
}
 


@mixin size ($width, $height){
    height: $height;
    width: $width;
    
}

.center {
    display: flex;
    justify-content: center;
}

/* NORMALIZE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
width: 100%;

}

html {
    font-size: 62,5%;
}

body {
    font-family: var(--text-base);
}

/* HELPERS */

.conteiner {
    margin: 0;
    max-width: 100vw;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* HEADER */

.main-header {
    background-color: var(--primary);
    width: 100vw;
    height: 10vw; 
    display: flex;
    justify-content: space-between;



    .logo{
    @include size(30vw, 20vh ) 
    }
    .logo {
    display: flex;
    justify-content: start;
    padding-top: 1vw;
    padding-bottom: 1vw;
    }
   

    .main-header__imagen{
    @include size(15vw, 10vh )
    }
    .main-header__imagen{
    display: flex;
    position: absolute 90vw;
    
    }

   
}



.menu {
  
    color: var(--secondary);
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 6vw;
    padding-right: 5vw;
   

    .menu__link {
    padding: 2.1vw;
    text-decoration: none;
    color: var(--alternative-white);   
    
    }
    .menu__link:hover {
    transition: ease-in-out 1.5s;
    }

    .menu__link-act {
    padding: 1.2vw;
    text-decoration: none;
    color: var(--alternative-white);
    border-bottom: .2vw solid gold;
    }

    .menu__link-act:hover {
    transition: ease-in-out .5s;
    border-radius: 2vw;
    }

}


/* MAIN INDEX */

.main {                          
    background-image: url(https://fondosmil.com/fondo/23518.jpg) ;
    padding-left: 2vh;
    padding-right: 2vh;
}


.cards {
    padding: 8vw 10vh 5vw 10vh;
    display: flex;
    justify-content: space-around;
    
    .card {
    width: 27vw;
    height: 30vh;
    }
}



.section-home{
   display: grid;
   grid-gap: 20px;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(3, auto);
   padding: 0vw 20vh 5vw 20vh;
   
}

 .imagen-home-1:hover {
    width: 41vw;
    height: 40vh;
}

.imagen-home-2:hover {
    width: 41vw;
    height: 40vh;
}

.imagen-home-3:hover {
    width: 27vw;
    height: 26vh;
}

.imagen-home-4:hover {
    width: 27vw;
    height: 26vh;
}

.imagen-home-5:hover {
    width: 27vw;
    height: 26vh;
}

.section-home  .article-home-1 {
    grid-column: span 3;
    grid-row: span 1;

   }
.section-home  .article-home-2 {
    grid-column: span 3;
    grid-row: span 1;

   }
.section-home  .article-home-3 {
    grid-column: span 2;
    grid-row: span 1;
}
.section-home  .article-home-4 {
    grid-column: span 2;
    grid-row: span 1;
}
.section-home  .article-home-5 {
    grid-column: span 2;
    grid-row: span 1;
}

.article-ssn {
    background-color: #FDFDFF;
    padding: 1vw 20vh 1vw 20vh;
    display: flex;
    justify-content: space-around;
    border-top: solid 2px rgb(52, 50, 50);
    border-bottom: solid 2px rgb(52, 50, 50); 
    .text-ssn-1  {
    display: flex;
    align-items: center;
    font-family: var(--text-alt);
    font-size: large;
    color: #849299;
    }
    .text-ssn-2 {
    display: flex;
    align-items: center;
    font-family: var(--text-alt);
    font-size: large;
    color: #849299;
    }
    .imagen-ssn {
        width: 10vw;
        height: 10vh;
    }

}

.article-facebook {
    display: flex;
    justify-content: end;
    padding-bottom: 2vw;
    
    .imagen-facebook {
    width: 5vw;
    height: 5vh;
    
    }
}



/* MAIN PRODUCTOS */

.section-producto{
    background-image: url(https://fondosmil.com/fondo/23518.jpg);
    padding: 2vw 20vh 2vw 20vh;
     font-family: var(--text-alt);
   .title-producto{
    font-size: xx-large;
    color: grey;
   }
   .text-producto{
    font-size: xx-large;
    color: var(--alternative-white); 
    padding-bottom: 5vw;
  }
  .div-automoviles{
    display: flex;
    flex-direction: row;
    padding-left: 2vh;
    padding-bottom: 5vw;
  }
  .imagen-automoviles{
    width: 20vw;
    height: 20vh;
  }
  .text-automoviles{
    font-size: x-large;
    color: var(--alternative-white);
    
  }

  .div-personas {
    display: flex;
    flex-direction: row;
    padding-left: 2vh;
    padding-bottom: 5vw;
  }
  .text-personas{
    font-size: x-large;
    color: var(--alternative-white);
  }
  .imagen-personas{
    width: 20vw;
    height: 20vh;
  }
}



/* MAIN SINIESTROS */

    .main-siniestros{
        padding-left: 10vh;
        padding-right: 10vh;
        background-image: url(https://fondosmil.com/fondo/23518.jpg);
    }
.section-siniestros{        
    color: #849299;
    padding: 5vw 0vh 5vw 0vh;
    font-family: var(--text-alt);
    font-size: xx-large;     
    }
    .article-siniestros{
        display: flex;
        flex-direction: row;
    }
    .text-siniestro{
        padding-top: 5vw;
        color: var(--alternative-white);
        font-family: var(--text-alt);
        font-size: medium;
    }
    .imagen-lesionados {
        width: 40vw;
        height: 60vh;
    }
    .imagen-sin-lesionados {
        width: 40vw;
        height: 60vh;
    }



/*MAIN QUIENES SOMOS */

.article-quienes {
    font-family: var(--text-alt);
    display: flex;
    flex-direction: row;
    padding: 5vw 20vh 5vw 20vh;

    .text-quienes {
    color: var(--alternative-white);
    font-size: x-large;
    padding-left: 5vh;    
    }
    .imagen-quienes{
    width: 45vw;
    height: 60vh;
    }
}



/* MAIN CONTACTO */

    .article-contacto {
        font-family: var(--text-alt);
        display: flex;
        flex-direction: column;
        
        padding: 5vw 20vh 5vw 20vh;
        .title-contacto{
            color: grey;
            font-size: xx-large;
        }
        .item-contacto{
            color: var(--alternative-white);
            font-size: x-large;
        }
    }  

        .contacto-empleados{
            font-family: var(--text-alt);
            color: var(--alternative-white);
            font-size: x-large;
            display: flex;
            justify-content: center;
            flex-direction: row;
            .silueta{
                width: 20vw;
                height: 40vh;
            }
            .text-empleados{
                display: flex;
                flex-direction: column;
                padding-top: 5vw;
            }
        }



/* COTIZACIONES */

.main-header__nav{
    font-family: var(--text-base);
}
.main-cotizacion {
    background-image: url(https://fondosmil.com/fondo/23518.jpg);
    font-family: var(--text-alt);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    padding: 5vw 90vh 5vw 60vh;
    display: flex;
    align-content: center;
    color: var(--alternative-white);
    
    .title-cotiza-tu-seguro{
        padding-bottom: 2vw;
    }
    .title-flota {
        padding-top: 2vw;
        
    }
   
    .title-cantidad {
        padding-top: 2vw;
    }
    .flota-cantidad {
        padding-top: 2vw;
    }
   
    .title-whatsapp {
        padding-top: 1vw;
        ;
    }
    .col-00{
        padding-top: 1vw;
    }
    .form-control{
        padding-top: 1vw;
    }
    .form-label {
        padding-top: 2vw;
        width: 50vw;
    }
    .form-label-1 {
        padding-right: 0px;
    }
    .form-check {
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    .form-check-1 {
        
        padding-bottom: 3vw;
    }
    
}

/* ACCIDENTES PERSONALES */

.section-accidentes-personales{
    font-family: var(--text-alt);
    padding: 5vw 20vh 10vw 20vh;

    .title-accidentes-personales{
        font-size: xx-large;
        color: gray;
        
    }
    .text-accidentes-personales{
        font-size: x-large;
        color: var(--alternative-white);
        padding-top: 2vw;   
        padding-bottom: 2vw;
    }
    .article-accidentes{
        display: flex;
        flex-direction: row;
   }
    .imagen-invalidez{
        width: 50vw;
        height: 90vh;  
       
    }
    .title-invalidez {
        font-size: xx-large;
        color: var(--primary);
       
        
    }
    .text-invalidez {
        font-size: x-large;
        color: var(--alternative-white);
      
    }
    
    
    .imagen-asistencia{
        width: 40vw;
        height: 90vh;
        
    }
    
    
    .title-asistencia {
        font-size: xx-large;
        color: var(--primary);
    }
    .text-asistencia {
        font-size: x-large;
        color: var(--alternative-white);
    }
    .div-accidentes{
        display: flex;
        flex-direction: column;
        padding-top: 10vw;
    }
   
}
    /* VIDA */ 

.section-vida{
    font-family: var(--text-alt);
    padding: 5vw 20vh 10vw 20vh;
}    
    .title-vida{
        font-size: xx-large;
        color: gray;
        
    }
    .text-vida{
        font-size: x-large;
        color: var(--alternative-white);
        padding-top: 2vw;   
        padding-bottom: 2vw;
    }
    .article-vida{
        display: flex;
        flex-direction: row;
   }
    .imagen-vida{
        width: 50vw;
        height: 70vh;  
       
    }
   /* FAMILIA */

.section-familia{
        font-family: var(--text-alt);
        padding: 5vw 20vh 10vw 20vh;
    }    
        .title-familia{
            font-size: xx-large;
            color: gray;
            
        }
        
        .article-familia{
            display: flex;
            flex-direction: row;
       }
        .imagen-familia{
            width: 50vw;
            height: 70vh;  
           
        }
        .text-familia{
            font-size: x-large;
            color: var(--alternative-white);
            padding-top: 2vw;   
            padding-bottom: 2vw;
        }
  


/* FOOTER */


.main-footer__section {
    
    background-color: var(--primary);
    color: var(--alternative-white);
    font-size: var(--text-sm);
    
    .hotian-seguros  {
    @extend .center;
    font-size: xx-large;

    }

    .informacion{
        padding-top: 2vh;
        display: flex;
        justify-content: center;
        font-size: large;
    }

    .derechos{
        padding-top: 2vh;
        display: flex;
        justify-content: center;
        font-size: medium;
    }
}

/* RESPONSIVE */

@media (max-width: 600px) {

    /* HEADER */

.main-header {
   
    height: 20vw; 
    padding-left: 2vh;
    .logo{
    @include size(15vw, 10vh ) 
    
    }
    .menu{
        font-size: xx-small;
        display: flex;
        flex-direction: row;
    }
}
.cards {
    padding: 8vw 0vh 5vw 0vh;
    display: flex;
    flex-direction: row;
    
    .card {
    width: 20vw;
    height: 10vh;
    }
}
.section-home{
    display: flex;
    flex-direction: column;
    padding-left: 12vh;
 }
 
 .imagen-home-1{
    width: 40vw;
    height: 10vh;
    
 }
 .imagen-home-2{
    width: 40vw;
    height: 10vh;
 }
 .imagen-home-3{
    width: 40vw;
    height: 10vh;
 }
 .imagen-home-4{
    width: 40vw;
    height: 10vh;
 }
 .imagen-home-5{
    width: 40vw;
    height: 10vh;
 }
   
 .article-ssn {
    padding: 0vw 2vh 0vw 2vh;
     
    .text-ssn-1  {
    font-size: xx-small;
    }
    .text-ssn-2 {
    font-size: xx-small;
    }
    .imagen-ssn {
        width: 20vw;
        height: 5vh;
    }
    
    
           
    
       
        .section-producto{
            display: flex;
            flex-direction: column;}
        .title-producto{
            font-size: small;
        
           }
           .text-producto{
            font-size: small;
            
          }
         
          .imagen-automoviles{
            width: 50vw;
            height: 50vh;
          }
          .text-automoviles{
            font-size: small;
            
            
          }
        
    }

    .section-producto{
       
        padding-left: 8vh;
        padding-right: 2vh;
       .title-producto{
        font-size: x-large;
       }
       .text-producto{
        font-size: medium;
        
      }
      .div-automoviles{
        display: flex;
        flex-direction: column;
        
      }
      .imagen-automoviles{
        width: 40vw;
        
      }
      .text-automoviles{
        font-size: medium;
       
        
      }
    
      .div-personas {
        display: flex;
        flex-direction: column;
       
      }
      .text-personas{
        font-size: medium;
        
      }
      .imagen-personas{
        width: 40vw;
        
      }
    }
    
    .main-siniestros{
        padding-left: 2vh;
        padding-right: 2vh;
    }
    .section-siniestros{        
    font-size: large;     
    }
    .article-siniestros{
        display: flex;
        flex-direction: column-reverse;
    }
    .text-siniestro{
        font-size: small;
    }
    .imagen-sin-lesionados {
        width: 80vw;
        height: 20vh;
        
    }
    .imagen-lesionados {
        width: 80vw;
        height: 20vh;
        
    }

    .article-quienes {
        padding-left: 2vw;
        padding-right: 2vh;
        display: flex;
        flex-direction: column;
        
    
        .text-quienes {
       padding-top: 2vw;
       padding-bottom: 2vw;
       padding-right: 2vh;
        font-size: large;
           
        }
        .imagen-quienes{
        padding-left: 4vh;
        width: 80vw;
        height: 40vh;
        }
    }
    
    .article-contacto {
        padding-left: 2vh;
        padding-right: 2vh;
        
        
        .title-contacto{
           
            font-size: x-large;
        }
        .item-contacto{
            
            font-size: large;
        }
    }  

        .contacto-empleados{
            padding-left: 2vh;
            padding-right: 2vh;
            font-size: large;
           
            .silueta{
               width: 30vw;
                height: 20vh;
            }
            .text-empleados{
                padding-top: 4vh;
            }
        }
        .main-header__nav{
            font-family: var(--text-base);
        }
        .main-cotizacion {
            
            display: grid;
            grid-gap: 2px;
            padding: 5vw 2vh 5vw 2vh;
            display: flex;
            align-content: center;
            
        }
        
    
    .section-vida{
        padding: 5vw 2vh 10vw 2vh;
    }    
        .title-vida{
            font-size: x-large;
        }
        .text-vida{
            font-size: x-large; 
        }
        .article-vida{
            display: flex;
            flex-direction: column;
       }
        .imagen-vida{
            width: 70vw;
            height: 30vh;  
           
        }

        .section-familia{
            padding: 5vw 2vh 10vw 2vh;
        }    
            .title-familia{
                font-size: x-large;
            }
            
            .article-familia{
                display: flex;
                flex-direction: column-reverse;
           }
            .imagen-familia{
                width: 60vw;
                height: 40vh;  
               
            }
            .text-familia{
                font-size: x-large;
                
            }
      
            .section-accidentes-personales{
                
                padding: 5vw 2vh 5vw 2vh;
            
                .title-accidentes-personales{
                    font-size: x-large;
                    }
                .text-accidentes-personales{
                    font-size: x-large;
                   
                    
                }
                .article-accidentes{
                    display: flex;
                    flex-direction: column;
               }
                .imagen-invalidez{
                    
                    height: 30vh;  
                   
                }
                .title-invalidez {
                    font-size: x-large;
                }
                .text-invalidez {
                    font-size: large;
                }
                
                
                .imagen-asistencia{
                    
                    height: 30vh;
                    
                }
                
                
                .title-asistencia {
                    font-size: x-large;
                    
                }
                .text-asistencia {
                    font-size: large;
                   
                }
                .div-accidentes{
                    display: flex;
                    flex-direction: column;
                    padding-top: 10vw;
                }
     }   
    }
    



    





